@charset "ISO-8859-1";

#output {
    width: 300px;
    border: 1px solid red;
    float: left;
}

#dettaglio {
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    float: left;
}
