<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{css/style.css}" href="css/style.css">
</head>
<body>

<div class="container">

	<h1 th:text="${continente}"></h1>
	
	<ul  class="list-group" th:each="c : ${continenti}">
		<li  class="list-group-item continente" th:text="${c}"></li>
	</ul>
	
	

</div>



<script type="text/javascript" src="js/script.js"></script>
</body>
</html>